{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'HotelManagement/style_Index.css' %}">

    <!-- Font - Comforter Brush -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap" rel="stylesheet">

    <!-- Font - Dancing Script -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Dancing+Script&family=Varela+Round&display=swap" rel="stylesheet"> 

    <!-- Font - Varela Round -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Dancing+Script&family=Varela+Round&display=swap" rel="stylesheet">


</head>
<body>
    
    <nav>
        <div class="container">
            <div class="menuItems">
                <div class="homeLogo">
                    <a href="http://127.0.0.1:8000/">
                        <!-- <h2>Lunar View</h2> -->
                        <h2>Ocean Pearl</h2>
                        <!-- <h2>Ivory Hill</h2> -->
                    </a>
                </div>
                <div class="navbar">
                    <ul>
                        <li>
                            <a class="objectHover" href="http://127.0.0.1:8000/">Home</a>
                        </li>
                        <li>
                            <a class="objectHover" href="https://www.youtube.com/watch?v=vHFZGEEXkng">About</a>
                        </li>
                        <li>
                            <a class="objectHover" href="https://www.youtube.com/watch?v=GPXkjtpGCFI">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <header>
        <div class="container">
            <div class="homeContent">
                <h1>Sit Back , Relax & Unwind</h1>
                <h3>Experience Luxury</h3>
                <p>DINING | LODGING | EVENTS</p>
                <div class="underscore">
                    <a href="{% url 'login-page' %}">Book Now</a>
                </div>
            </div>

            <div class="homePageBanner">
                <img src="{% static 'HotelManagement/images/homePageBGFinal.jpg' %}" alt="">
            </div>
        </div>
    </header>
    





















    <!-- <h1>Welcome to the index page</h1>
    <br>
    <h1>login</h1> -->
    
    <!-- <form method="post"> {% csrf_token %} -->
    <!-- <form method="post">
        <div class="form-group">
            <label for="Email">Email: </label>
            <input id="Email" type="email" name="Email" value="Email">
        <div class="form-group">
        <div class="form-group"></div>
            <label for="PWD">Password: </label>
            <input id="PWD" type="text" name="PWD" value="Password"></input>
        <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <a href="http://127.0.0.1:8000/register/"><button>Register</button></a> -->

    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
</body>
</html>