<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h3>Registration Page</h3>
    <form method="post"> {% csrf_token %}
        <label for="Name">Name: </label>
        <input id="Name" type="text" name="Name" value="{{ name }}">
        <label for="Email">Email: </label>
        <input id="Email" type="text" name="Email" value="{{ email }}">
        <label for="PhoneNo">Phone Number: </label>
        <input id="PhoneNo" type="text" name="PhoneNo" value="{{ phone_num }}"></input>
        <label for="PWD">Password: </label>
        <input id="PWD" type="text" name="PWD" value="{{ pwd }}"></input>
        <input type="submit" value="OK">
    </form>
</body>
</html>