body {
    background:wheat; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding-left: 15px; 
    padding-right: 15px;
}

#roomTypes {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#homeBtn {
    padding: 10px;
    position: relative;
}

#homeBtn:before {
    content: "a";
    position: absolute;
    top: 0;
    left: 10px;
    background-color: black;
    width: 0%;
    height: 2px;
    font-size: 0px;
    transition: all 0.5s ease;
}

#homeBtn:hover:before {
    width: 70%;
}

#roomLayout {
    border-radius: 15px;
    position: relative;
}

#roomLayout:hover {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
